packages
BuildNuget
/Perfon.WebApi/bin/Debug
/Perfon.WebApi/bin/Release
/Perfon.WebApi/obj/Debug
/Perfon.WebApi/obj/Release
/Perfon.Core/bin/Debug
/Perfon.Core/bin/Release
/Perfon.Core/obj/Debug
/Perfon.Core/obj/Release
/TestServer/bin
/TestServer/obj/Debug
/TestServer/obj/Release
