
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>This application is an example of using Perfon.Mvc library.</p>
<p>Perfon.MVC is a perfomance monitoring library for .Net working without using windows perfomance counters. It also has built-in UI dashboard.</p>

