<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <connectionStrings>
    <add name="DBcontroller" connectionString="server=localhost;database=db_template;User Id=user_template;password=password_template;Persist Security Info=True;CharSet=utf8;" providerName="MySql.Data.Entity.EF6" />
  </connectionStrings>
  <appSettings>
    <add key="DoNotSendEmails" value="true" />
	<add key="DB_Path" value="DB" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="600384" enableVersionHeader="false" />
    <authentication mode="None" />
    <pages buffer="true" enableSessionState="false" enableViewState="false" enableViewStateMac="false" />
    <trace enabled="false" />
    <profile enabled="false">
      <providers>
        <clear />
        <remove name="MySQLProfileProvider" />
      </providers>
    </profile>
    <membership>
      <providers>
        <clear />
        <remove name="MySQLMembershipProvider" />
      </providers>
    </membership>
    <roleManager>
      <providers>
        <clear />
        <remove name="MySQLRoleProvider" />
        <remove name="AspNetWindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <sessionState mode="Off">
      <providers>
        <clear />
      </providers>
    </sessionState>
  </system.web>
   <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="JSON handler" path="*.json" verb="get" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Read" preCondition="bitness64" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Profile" />
      <remove name="Session" />
      <remove name="FormsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="DefaultAuthentication" />
      <remove name="OutputCache" />
      <remove name="AnonymousIdentification" />
      <remove name="RoleManager" />
    </modules>
    <!-- <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent> -->   
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories />
  </system.data>
</configuration>